/* Metabox */

.getimage_meta { min-height:300px; }
.getimage_meta ul li { height: 40px; clear:both; margin: 0 0 15px 0;}
.getimage_meta ul li.preview-image { height: 140px;}
.getimage_meta .preview-upload {
    width:200px;
    height:auto;
    padding:5px;
    border:1px solid #ccc;
    display:block; float:left;
}

.getimage_meta ul li label { width: 150px; display:block; float:left; padding-top:4px; }
.getimage_meta ul li input[type="text"] { width:400px; display:block; float:left; }
.getimage_meta ul li input[type="button"] { width:125px; display:block; float:left; }
